<ion-toolbar class="color">
	<ion-title>Nueva NC</ion-title>

	<ion-buttons slot="secondary">
		<ion-button routerLink="/exp">
			<ion-icon name="exit"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
	<h1>Lista de No Conformidades</h1>
	
	<ion-list>
		<ion-item *ngFor="let item of noconformidad">
			<span *ngIf="!item.isEdit; else elseBlock">
				<ion-label>
					<span class="titulo">Equipo: </span>
					{{item.Name}}
				</ion-label>
				<ion-label>
					<span class="titulo">No conformidad: </span>
					{{item.Age}}
				</ion-label>
				<ion-label>
					<span class="titulo">Area: </span>
					{{item.Address}}
				</ion-label>

				<div class="botones">
					<ion-button   shape="round" size="small" (click)="openModalWithData(item)">
						<ion-icon size="small" slot="icon-only" name="create"></ion-icon>
					</ion-button>
					
					<ion-button   shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
						<ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
					</ion-button>
				</div>
			</span>
		</ion-item>
	</ion-list>
	
	<!-- Botón agregar nuevo -->
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="openModal()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>