<ion-toolbar class="color">
	<ion-title>Nueva NC</ion-title>

	<ion-buttons slot="secondary">
		<ion-button routerLink="/exp">
			<ion-icon name="exit"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
	 <!-- <h1>Lista de No Conformidades</h1> -->
	
     <!-- <ion-list>
		<ion-item *ngFor="let item of noconformidad">
			<span *ngIf="!item.isEdit; else elseBlock">
				<ion-label>
					<span class="titulo">Equipo: </span>
					{{item.Name}}
				</ion-label>
				<ion-label>
					<span class="titulo">No conformidad: </span>
					{{item.Age}}
				</ion-label>
				<ion-label>
					<span class="titulo">Area: </span>
					{{item.Address}}
				</ion-label>

				<div class="botones">
					<ion-button   shape="round" size="small" (click)="openModalWithData(item)">
						<ion-icon size="small" slot="icon-only" name="create"></ion-icon>
					</ion-button>
					
					<ion-button   shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
						<ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
					</ion-button>
				</div>
			</span>
		</ion-item>
	</ion-list> -->

	
	<!-- Botón agregar nuevo -->
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="openModal1()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
<!-- </ion-content> -->
<ion-content [fullscreen]="true">
	 <div class="login-page">
		<div class="form">
			<!--<ion-input type="text" placeholder="Ubicación"   name="Busqueda"    [(ngModel)]="Busqueda"></ion-input>
			<ion-input type="text" placeholder="Equipo"   name="nuevoEquipo"     [(ngModel)]="nuevoEquipo"></ion-input>
			<ion-input type="text" placeholder="Descripcion"   name="nuevaDescripcion"     [(ngModel)]="nuevaDescripcion"></ion-input> -->
			<ion-input type="text" placeholder="Norma" name="RN" [(ngModel)]="RN"></ion-input>
			<ion-input type="text" placeholder="Criterio" name="nuevoCriterio" [(ngModel)]="nuevoCriterio"></ion-input>
			<ion-input type="text" placeholder="Riesgo eléctrico" name="nuevoRiesgo" [(ngModel)]="nuevoRiesgo"></ion-input>
			<!--<ion-input type="text" placeholder="Solución" name="nuevaSolucion" [(ngModel)]="nuevaSolucion"></ion-input>
			<ion-input type="text" placeholder="Cantidad" name="nuevaCantidad" [(ngModel)]="nuevaCantidad"></ion-input> -->
			<ion-input type="text" placeholder="No conformidad" name="nuevaNC" [(ngModel)]="nuevaNC"></ion-input> 

			<ion-button expand="block" fill="clear" (click)="CreateRecord2()" [disabled]="!nuevoCriterio || !nuevoRiesgo || !nuevaNC">Crear NC</ion-button>
		</div>
	</div>
</ion-content>